.ff_index
  width:100%
  display: inline-block
  text-align:center
  outline: 1px solid #000
  padding:10px

.ff_card
  width:25%
  text-align: center
  display: inline-block
  margin:5px
  padding: 10px
  outline: 1px solid #000000

.ff_thum
   width: 75%

