<%

   let data = page.data || {};
   
   data.message = data.message || 'no message';
   data.files = data.files || [];

%>

<div style="padding:20px;">

    <h1>forFrame Projects:</h1>


    <%- ff_list_projects(data) %>

</div>


